.InProgress {
  height: 100vh;
  display: flex;
  background-color: #864d13;
  color: white
}

.Start {
  height: 100vh;
  display: flex;
  background-color: #864d13;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  color: white;
}

.start-button {
  border: black double;
  border-radius: 10px;
  color: white;
  background-color: gray;
  box-shadow: 0 9px rgba(0,0,0,.6);
  padding: 30px 50px;
  text-decoration: none;
}
.start-button:hover {
  transform: translateY(3px);
  box-shadow: 0 5px rgba(0,0,0,.6);
  cursor: grab;
  transition: 0.2s;
}
.start-button:active{
  cursor: grabbing;
  transform: translateY(5px);
  box-shadow: 0 0 rgba(0,0,0,.6);
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 3;
  /* width: 75%; */
  /* max-width: 75%; */
  background: linear-gradient(to top, rgba(255, 255, 255, 0),#86613c) center;
}
.question {
  text-align: center;
  padding-bottom: 30px;
}
.answer-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}
.answer-button {
  border: black double;
  border-radius: 10px;
  color: white;
  background-color: gray;
  box-shadow: 0 9px rgba(0,0,0,.6);
  padding: 30px 40px;
  text-decoration: none;
  max-width: 150px;
  max-height: 100px;
  min-width: 150px;
  min-height: 100px;
}
.answer-button:hover {
  transform: translateY(3px);
  box-shadow: 0 5px rgba(0,0,0,.6);
  cursor: grab;
  transition: 0.2s;
}
.answer-button:active {
  cursor: grabbing;
  transform: translateY(5px);
  box-shadow: 0 0 rgba(0,0,0,.6);
}
.answer-button:disabled {
  cursor: not-allowed;
  background-color: rgb(228, 228, 228);
  border: none;
  transform: translateY(5px);
  box-shadow: 0 0 rgba(0,0,0,.6);
  transition: 1s;
}

.money {
  /* max-width: 200px; */
  width: 25%;
  min-width: 200px;
  /* flex: 1; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.money-list {
  padding: 0;
}
.amount {
  list-style: none;
}
.amount.active {
  font-weight: bolder;
}
.amount.checkpoint {
  color: yellow;
}

.walk-away {
  margin-top: 10px;
  border-radius: 50%;
  border-style: solid;
  padding: 5px 9px;
  border-width: 5px;
  border-color: rgb(47, 35, 209);
  background-color: rgb(10, 24, 44);
  color: white;
  font-weight: bold;
  font-size: large;
}
.walk-away:hover{
  border-color: rgb(85, 74, 245);
  cursor: grab;
}
.walk-away:active {
cursor: grabbing;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.modal-content{
  width: 100%;
  max-width: 300px;
  height: 100%;
  max-height: 200px;
  background-color: dimgray;
  border-color: black;
  border-width: 10px;
  text-align: center;
  box-shadow: -5px 5px 5px 1px rgba(0,0,0,.3);
}
.modal:focus {
   outline: 10px;
  }
.modal h1{
  color: yellow;
  margin-bottom: 35px;
}
.modal button {
  border-color: black;
  border-style: outset;
  border-width: 4px;
  color: white;
  background-color: dimgray;
  padding: 15px 40px;
}

.button-container {
  justify-content: space-between;
  margin: 0 20px;
  display: flex;
}